/* Для пристроїв з шириною екрана менше 768 пікселів (наприклад, смартфони портретної орієнтації) */
@media only screen and (max-width: 767px) {

}

/* Для пристроїв з шириною екрана від 768 пікселів до 991 піксела (наприклад, смартфони ландшафтної орієнтації та планшети) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Для пристроїв з шириною екрана від 992 пікселів до 1199 пікселів (наприклад, планшети та невеликі настільні монітори) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (max-width: 1199px) {
    .root {
        font-size: 30px;
    }

    .input {
        font-size: x-large;
    }

    .button {
        height: auto;
        font-size: smaller;
        font-weight: bold;
    }

    .upload-file {
        font-size: x-large;
    }

    nav {

        & .burger-menu {
            justify-content: space-between;
        }

        & .header-wrap-img {
            & a {
                & img {
                    width: 50px;
                    height: 50px;
                }

                & .wrap-header-order-card {
                    width: 50px;
                    height: 50px;
                    font-size: xx-large;
                }
            }

        }
    }

    .nav-container .hamburger-lines {
        display: flex;
    }

    #main-menu {
        width: 0;
        height: 100vh;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        background: rgb(238, 216, 184);
        top: 0;
        left: 0;
        transition: all 0.3s ease-out;
        padding: 0;

        & li {
            width: 0;
            background-color: rgb(204, 184, 153);
            border-radius: 10px;
            height: 85px;
            padding: 15px;
            align-items: center;
            display: none;

            a {
                width: 0;
            }

            &:hover {
                background-color: rgb(255, 230, 204);
            }
        }
    }

    .burger-menu input[type="checkbox"]:checked ~ #main-menu {
        width: 40%;
        padding: 75px 10px;


        & li {
            display: flex;
            width: 100%;

            a {
                width: 100%;
            }
        }

    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        top: 10px;
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        top: -8px;
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked ~ .logo {
        /*display: none;*/
    }

    .wrap-breadcrumbs {
        font-weight: bold;
    }

    .alert {
        font-size: 35px;
    }

    .form-filter {
        width: 100%;

        & select {
            width: 25%;
            font-size: 25px;

            & option {
                width: 50%;
            }
        }

        & button {
            font-size: x-large;
            font-weight: 800;
        }
    }

    .menu-wrap-product {
        .product__items {
            & .product__item {
                max-width: 425px;

                & a {
                    & .product-image {
                        width: 425px;
                        height: 425px;
                    }
                }
            }
        }
    }

    .wrap-product {
        flex-direction: column;
        align-items: center;
        font-size: larger;

        & .wrap-product-image {
            width: 100%;
            align-items: center;

            & .product-image {
                width: 800px;
                height: 800px;
            }

            & .wrap-product-order {
                width: 100%;

                & .wrap-product-order-price {
                    align-items: center;
                    justify-content: center;

                    & input {
                        width: 25%;
                    }
                }

                & button {
                    height: 50px;
                    font-size: smaller;
                    font-weight: bold;
                }
            }
        }
    }

    .wrap-my-account {
        flex-direction: column;
        align-items: center;
        max-width: 850px;

        & .account-menu {
            width: 100%;

            & ul {
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;

                & li {

                    & .button {
                        height: 75px;
                        font-size: x-large;
                        padding-inline: 15px;
                    }

                }
            }
        }

        & .wrap-account-information {
            width: 100%;
        }

    }

    .product-table {
        & .product-table-photo {
            & img {
                width: 100px;
                height: 100px;
            }
        }

        & button {
            font-size: x-large;
            height: auto;
            padding: 10px;
            word-break: normal;
        }
    }

    .wrap-authorization {
        flex-direction: column;
        font-size: xx-large;

        & .input {
            font-size: xx-large;
            height: 65px;
        }

        .button {
            padding: 20px;
        }

        & form {
            width: 100%;
            justify-content: center;
        }

        & .authorization-description {
            width: 100%;
        }

        & p {
            font-size: medium;
        }

        & .forgot-pass-p {
            font-size: xx-large;
        }
    }

    .wrap-order {
        & .wrap-empty-order {
            & .button {
                font-size: xx-large;
            }
        }

        & .button {
            font-size: xx-large;
        }

        .order-form {
            & .orders-list {
                font-weight: bold;
                & li {
                    & img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .wrap-button-order {
                & .button {
                    font-size: xx-large;
                }
            }
        }

    }

    footer {
        & .footer__cool {
            font-size: larger;
            width: auto;
        }
    }
}