* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.mw-1320 {
    max-width: 1320px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
}

.root {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 25px;
    min-height: 100vh;
    background-color: #1a1a1a;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: rgb(204, 0, 98);
}

.button {
    height: 42px;
    background-color: rgb(189, 163, 134);
    border-radius: 35px;
    color: #333;
    box-shadow: none;
    text-transform: uppercase;
    border: 0 solid transparent;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        color: #fff;
        background-color: rgb(162, 21, 89);
    }
}

table {
    border-collapse: collapse;
    border-spacing: 15px;
    border: 2px solid black;

    & thead {
        text-align: center;
    }

    & th {
        border: 2px solid black;
    }

    & td {
        text-align: center;
        padding: 5px;
        border: 2px solid black;
    }

    & .table-date {
        word-break: break-all;
        min-width: 115px;
        max-width: 120px;
        width: 115px;
        text-align: center;
    }
}

.product-table {
    width: 450px;
    word-break: break-all;
    border-collapse: collapse;


    & .wrap-changed-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
    }
}

.product-change-main-info {
    & .button {
        width: 100px;
    }
}

.account-information {
    & .input {
        background-color: #333333;
        color: white;
    }

    & textarea {
        width: 650px;
        min-height: 150px;
        border-radius: 5px;
    }

    & .change-photo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    & .change-product-flag {
        display: flex;
        flex-direction: row;
        align-items: center;

        & fieldset {
            display: flex;
            flex-direction: row;
            gap: 50px;
        }

        & .wrap-radio-product-flag {
            display: flex;
            flex-direction: row;
            gap: 25px;
        }

        & .button {
            width: 125px;
        }
    }
}

.account-information .product-table {
    width: 100%;
}

.pagination {
    & a {
        padding: 10px;
    }

    & .active {
        background-color: #333333;
        color: white;
    }
}

#status-order {
    text-transform: capitalize;
}

.wrap-status-select {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #status-order {
        background-color: #333333;
        color: white;
    }
}


/*
    MENU
 */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 75px;
    padding-inline: 20px;
    margin-top: 10px;
}

.wrap-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 216, 184);
    border-radius: 50px;
}

#menu-toggle {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: auto;
    padding-inline: 50px;
    font-weight: bold;

    & .burger-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 100%;
            text-transform: uppercase;

            & .active {
                color: rgb(204, 0, 98);
            }
        }

        & .header-wrap-img {
            display: flex;
            gap: 5px;

            & a {
                display: flex;
                align-items: center;
            }
        }
    }
}

.nav-container .checkbox {
    display: none;
}

.nav-container .hamburger-lines {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 26px;
    width: 32px;
    cursor: pointer;
    z-index: 2;
}

.nav-container .hamburger-lines .line {
    position: relative;
    height: 4px;
    width: 32px;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transition: transform 0.4s ease-in-out;
}

.wrap-header-order-card {
    display: flex;
    width: 25px;
    height: 25px;
    text-decoration: underline;
    font-weight: bold;
    font-size: medium;
    background-color: #333333;
    border-radius: 50%;
    color: white;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgb(204, 184, 153);
        color: #333333;
    }
}

.wrap-breadcrumbs {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
    padding-left: 150px;
    border-bottom: 3px solid #333333;
    border-top: 3px solid #333333;
    text-transform: uppercase;
    color: rgb(204, 184, 153);

    & a {
        color: rgb(204, 184, 153);
        text-decoration: underline;

        &:hover {
            color: rgb(170, 152, 122);
        }
    }
}


/*
    MENU
 */


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: auto;
    width: 100%;
    color: white;
}

/*

Authorization page

 */

.alert {
    font-size: 26px;
    font-weight: bold;
    color: rgb(204, 0, 98);
    border-bottom: 3px solid;
    text-transform: uppercase;
    border-bottom: 3px solid;
}

.form-change-product {
    padding: 15px;
    border: 3px solid;
}

label {
    display: flex;
    gap: 5px;
}

.input {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 35px;
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    vertical-align: middle;
    font-size: 14px;
    transition: border-color .5s ease;
}

.wrap-authorization {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
    justify-content: center;
    padding: 50px;
    font-size: 16px;

    & form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        width: 35%;

        & > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & a {
            color: white;

            &:hover {
                color: rgb(204, 0, 98);
            }
        }
    }

    & > span {
        border-inline-start: 1px solid rgba(255, 255, 255, 0.15);
    }

    & .authorization-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 35%;
        border-left: silver;

        & p {
            text-align: center;
        }

        & > a {
            width: 50%;

            & button {
                width: 100%;
            }
        }
    }

}

.wrap-my-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;

    & .account-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(238, 216, 184);
        border-radius: 15px;
        padding-block: 25px;
        width: 15%;

        & ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 25px;

            & li {
                & .active {
                    background-color: rgb(170, 136, 85);
                }

                & button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    color: white;
                    background-color: #333;
                    width: 100%;

                    & .orders-length {
                        display: flex;
                        width: 20px;
                        height: 20px;
                        border-radius: 15px;
                        background-color: rgb(238, 216, 184);
                        color: #333333;
                        align-items: center;
                        justify-content: center;
                    }

                    &:hover {
                        background-color: rgb(162, 21, 89);
                    }
                }
            }
        }

    }

    & .wrap-account-information {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(238, 216, 184);
        width: 75%;
        min-height: 500px;
        border-radius: 15px;

        & .account-information {
            width: 100%;
            height: 100%;
            padding: 50px;
            color: #333;
        }
    }
}

.wrap-account-information {
    display: flex;
    align-items: center;

    .admin-information {
        display: flex;
        width: 100%;
        height: auto;
        padding: 25px;

        & form {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            align-items: center;

            & div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & label {
                    color: #333;
                }
            }
        }

        & form .input {
            width: 75%;
            background-color: #333;
        }

        & form .upload-file {
            width: 80%;
            color: #333;
        }
    }
}


/*
Authorization page
 */

.product-image {
    width: 350px;
    height: 350px;
    border-radius: 15%;
}

.menu-wrap-product {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;

    & .name-category {
        text-align: center;
        color: rgb(238, 216, 184);
        text-transform: uppercase;
    }

    & .product__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        & .product__item {
            max-width: 375px;
            min-height: 350px;
            border-radius: 10px;

            &:hover, &:focus {
                background-color: #333;
            }

            & .product__description {
                padding-left: 35px;
                font-weight: bold;
            }


            & a {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: auto;
                height: auto;
                color: rgb(238, 216, 184);
                padding: 10px;
            }

            & img {
                width: 350px;
                height: 350px;
                border-radius: 15%;
            }

            & .productSticker__flag {
                display: flex;
                justify-content: flex-start;

                & .productSticker-flag__item {
                    padding-inline: 5px;
                    text-transform: uppercase;
                    background-color: rgb(238, 216, 184);
                    color: #333;
                    border-radius: 15px;
                }
            }
        }
    }
}

.form-filter {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    gap: 15px;

    & label {
        font-weight: bold;
        width: 150px;
    }

    & .button {
        padding-inline: 10px;
    }

    & option {
        color: black;
    }
}

.wrap-order {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
    margin: 25px;
    width: 75%;
    min-height: 500px;
    border-radius: 15px;
    background-color: rgb(238, 216, 184);

    & .button {
        width: max-content;
        padding-inline: 30px;
    }

    & .remove-item-from-order {
        width: 100%;
        text-align: start;
    }

    & .order-form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 25px;
        width: 100%;
        color: #333;

        & .input {
            background-color: #333333;
            color: white;
        }

        & .wrap-button-order {
            width: 100%;
            text-align: end;

            & .button {
                font-size: medium;
            }
        }

        & #total {
            width: 100%;
            text-align: end;
            font-weight: bold;
        }

        & .orders-list {
            & li {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;
                justify-content: space-between;

                & .wrap-order-price {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                & .input {
                    width: 75px;
                }
            }
        }
    }

    & .wrap-empty-order {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        & span {
            color: #333333;
        }

        & .button {
            font-size: medium;
        }
    }
}


.wrap-product-order {
    padding-inline: 50px;
    padding-bottom: 10px;

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        color: rgb(238, 216, 184);

        & .wrap-product-order-price {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;

            & label, .price {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & label {
                min-width: 105px;
            }

            & .price {
                width: auto;
            }
        }

        & button {
            padding-inline: 15px;
        }
    }
}

.wrap-product {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    padding-inline: 25px;
    width: 100%;

    & .wrap-product-image {
        display: flex;
        gap: 20px;
        flex-direction: column;

        & h1 {
            border-bottom: 1px solid silver;
            text-align: center;
            color: rgb(238, 216, 184);
        }

        & .product-image {
            width: 524px;
            height: 524px;
            border-radius: 15px;
        }
    }

    & .product__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        width: 100%;
        background-color: rgb(238, 216, 184);
        border-radius: 15px;
        color: #333;
        word-break: break-all;
        text-indent: 40px;

        & .productSticker__flag {
            & .productSticker-flag__item {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                padding: 15px;
                height: 50px;
                background-color: #333333;
                border-radius: 10px;
                font-weight: bold;
                text-indent: 0;
                color: white;
                text-transform: uppercase;
            }
        }

        & .product-name {
            text-align: center;
            text-indent: 0;
        }
    }
}

.wrap-personal-information {
    display: flex;
    flex-direction: row;
    align-items: center;

    & label {
        width: 150px;
    }
}

.account-information .wrap-personal-information {
    & label {
        min-width: 150px;
        word-break: break-all;
    }

    & label, span {
        font-weight: bold;
    }

    & input {
        background-color: #333333;
        color: white;
    }

    &:last-child {
        justify-content: center;
    }
}

.account-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

footer {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 100px;
    width: 100%;
    padding: 25px;
    background-color: rgb(238, 216, 184);

    & .wrap-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    & .footer__cool {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 18px;
    }

    & .footer__cool:first-child {
        align-items: center;
    }
}
